-e git+https://github.com/rapidpro/rapidpro-python.git@9fc94eb6f4dfeeca684d20acc64798bd5eaad676#egg=rapidpro_python-1.0
-e git+https://github.com/xkmato/Humongolus.git@patch#egg=Humongolus-patch-1.0.6